{% extends 'administration/base_admin.html' %}
{% load i18n %}

{% block title %}{% trans "Links modification" %}{% endblock %}

{% block id_form %}plugin_form{% endblock %}

{% block form-content %}
{% for form in formset %}
<tr><th><strong>Lien #{{ forloop.counter }}</strong></th><td></td></tr>
{{ form.as_table }}
{% endfor %}
{% endblock %}


{% block form-extras %}{{ formset.management_form }}{% endblock %}


{% block form-submit-action %}admin.plugin_links_list.save_links('{{ relation_id }}');{% endblock %}
