{% load i18n %}

<ul class="list">
	{% if directory.parent %}
		<li class="item {% cycle 'row1' 'row2' %} droppable" id="dir-{{ directory.parent.id }}">
			<a onClick="admin.file_manager.directory.get({{ directory.parent.id }});">
				<div class="name">
					<p><i class="icon-folder-open icon-white"></i> ..</p>
				</div>	
				<div style="clear: both;"></div>
			</a>
		</li>
	{% endif %}
	
	{% for directory in folders %}
		
		<li class="item {% cycle 'row1' 'row2' %} draggable droppable" id="dir-{{ directory.id }}">
			<a onClick="admin.file_manager.directory.get({{ directory.id }});">
				
			
				<div class="name">
					<p><i class="icon-folder-open icon-white"></i> <span class='label_js'>{{ directory.name }}</span></p>
				</div>	
			</a>
			<div class="action">
				   <div class="btn-group">
					    <a class="btn dropdown-toggle btn-mini" data-toggle="dropdown" href="#">
					    <span class="caret"></span>
					    </a>
					    <ul class="dropdown-menu pull-right">
					    	<li>
					    		<a onClick="admin.file_manager.directory.rename({{ directory.id }})">{% trans "Rename" %}</a>
					    	</li>
					    	<li>
					    		<a onClick="admin.file_manager.directory.remove({{ directory.id }});">{% trans "Delete" %}</a>
					    	</li>
					    </ul>
					</div> 
			</div>
			<div style="clear: both;"></div>
		</li>
	{% endfor %}
		
	{% if files %}
		{% for file in files %}
			<li class="item {% cycle 'row1' 'row2' %} draggable" path="{{ file.get_absolute_url }}" id="{{ file.id }}">
			<a onClick="admin.file_manager.file.get({{ file.id }});">
				
				<div class="name">
					 <p>{{ file.get_icon|safe }} <span class='label_js'>{{ file.name }}</span></p>
				</div>
			
				<div class='list_data'>
					<div class="date">
						{{ file.date_creation }}
					</div>
					<div class="type">
						{{ file.type }}
					</div>
					<div class="size">
						{{ file.file.size|filesizeformat }}
					</div>
				</div>
			</a>
			<div class="action">
				   <div class="btn-group">
					    <a class="btn dropdown-toggle btn-mini" data-toggle="dropdown" href="#">
					    <span class="caret"></span>
					    </a>
					    <ul class="dropdown-menu pull-right">
					    	<li>
					    		<a onClick="admin.file_manager.file.rename({{ file.id }});">{% trans "Rename" %}</a>
					    	</li>
					    	<li>
					    		<a onClick="admin.file_manager.file.remove({{ file.id }});">{% trans "Delete" %}</a>
					    	</li>
					    </ul>
					</div> 
			</div>
			<div style="clear: both;"></div>
		</li>
		{% endfor %}		
	{% endif %}
</ul>
