{% extends "layout/base.html" %}
{% load placeholder_tags %}


{% block layout %}

{% render_placeholder "1" %}

<div style="clear: both;"></div>

<div style="width: 25%; float: left; min-height: 1px;">
  <div style="margin-right: 15px;">
    {% render_placeholder "2" %}
  </div>
</div>

<div style="width: 25%; float: left; min-height: 1px;">
  <div style="margin-right: 15px;">
    {% render_placeholder "3" %}
  </div>
</div>

<div style="width: 25%; float: left; min-height: 1px;">
  <div style="margin-right: 15px;">
    {% render_placeholder "4" %}
  </div>
</div>

<div style="width: 25%; float: left; min-height: 1px;">
{% render_placeholder "5" %}
</div>

<div style="clear: both;"></div>

{% render_placeholder "6" %}


{% endblock layout %}
