{% load mptt_tags %}
{% with  object.get_ancestors as ancestors %}
<h2>{% if ancestors|length > 0 %}{{ ancestors|tree_path:' > ' }} > {% endif %}{{ object }}</h2>
{% endwith %}
<ul>
    {% for entry in object.online_entries.all %}
    <li>
        <a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a> |
        <small>
        {{ entry.publication_date|date:"d/m/Y @ H:i" }} -
		{% with entry as object %}
		{% include 'page_blog/display_category.html' %}
		{% endwith %}
        </small>
    </li>
    {% endfor %}
</ul>
